<body>
<div id="nav_bar">
    <h1><strong>Odyssey Tours</strong></h1>
    <button>
        <a href="/">Home</a>
    </button>
    <button>
        <a href="travelers">Travelers</a>
    </button>
    <button>
        <a href="travel_agents">Travel Agents</a>
    </button> 
    <button>
        <a href="travel_packages">Travel Packages</a>
    </button>
    <button>
        <a href="bookings">Bookings</a>
    </button>
    <button>
        <a href="items">Items</a>
    </button>
    <button>
        <a href="item_types">Item Types</a>
    </button>
</div>

<div class="od-description">
        <p>Traveling is a tedious and stressful process for some. When traveling, there are many factors to think of such as location, cost, hotel, transportation, etc. 
            Many times when getting ready to book a trip, too little or too many options are available to travelers with no detail as to whether or not this could be the best or most cost efficient option for them. 
            This can lead to excess time researching, causing more work for the traveler. When going on vacation, nobody wants to stress the little things, they want to relax! 
            Odyssey Tours will fix the troubles travelers face with finding affordable, fun destinations so that when booking it can feel like a vacation during the booking process and during the trip itself.
            Bookings can be browsed and selected by a traveler themself or bookings can be recommended and made with the assistance of one of Odyssey Tours’ many experienced travel agents.</p>
    </div>


</body>