{{!-- // Citation for the following file:
// Date: 05/21/2024
// Adapted from nodejs-starter-app on github.com provided to students via Canvas/course materials
// Code was copied and pasted from the code snippets and changed to fit the database needs for project
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<body>
<div id="nav_bar">
    <button>
        <a href="/">Travelers</a>
    </button>
    <button>
        <a href="travel_agents">Travel Agents</a>
    </button> 
    <button>
        <a href="travel_packages">Travel Packages</a>
    </button>
    <button>
        <a href="bookings">Bookings</a>
    </button>
    <button>
        <a href="items">Items</a>
    </button>
    <button>
        <a href="item_types">Item Types</a>
    </button>
</div>
<table id="item-types-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- need to change traveler and agent id to show name instead of number --}}
        {{#each data}}
        <tr>
            <td>{{this.item_type}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add an Item Type</h2>
<p>To add a item type, please enter their information below and click 'Submit'!</p>
<form id="add-item-type-form" method="POST" action="/add-item-type-form">
    <label for="input-item-type-description">Description: </label>
    <input type="text-area" name="input-item-type-description" id="input-item-type-description">

    <input type="submit" class="affirmButton">
</form>

</body>