body {
    font-family: Verdana;
    background-color: #2D135F;
    color: #F4EFEE;
    text-align: center;
    display:grid;
    width: 100%
}

a {
    text-decoration: none;
    color: #2D135F;
}

button {
    background-color: #FF88AA;
    border: none;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1em;
}

button:hover {
    background-color: #ff88aabe;
}

button:active {
    background-color: #ff88aa86;
}

table{
    margin: 70px 10%;
    background-color: #391b71;
    padding: 100px;
    border-collapse: collapse;
}

th, td {
    padding: 10px 20px; 
    text-align: left; 
  }

#browse {
    margin: auto;
}

#insert {
    margin: 50px auto;
    padding-top: 30px;
}

input {
    padding: 12px 20px;
    margin: 8px 17px 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
}

legend{
    margin-bottom: 12px;
}

fieldset {
    border-radius: 6px;
    border-color: #f4efee98;
    background-color: #391b71;
    padding: 20px 10px;

}

.update {
    border-radius: 6px;
    border-color: #f4efee98;
    background-color: #391b71;
    padding: 20px 10px; 
}

.buttonDivs {
    margin-top: 12px;
}

.affirmButton{
    border: none;
    background-color: #FF88AA;
    color:#2D135F;
    font-size: 1em;
    padding: 15px;
    margin: 12px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1em;
}

.affirmButton:hover{
    background-color: #ff88aabe;
}

.affirmButton:active{
    background-color: #ff88aa86;
}

#update{
    margin: 50px auto;
    padding-top: 30px;
}

.cancel{
    border: none;
    background-color:#FFD3CF;
    color:#2D135F;
    font-size: 1em;
    padding: 15px;
    margin: 12px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1em;
}

.cancel:hover{
    background-color:#ffd3cfc9;
}

.cancel:active{
    background-color:#ffd3cf97;
}

#delete{
    margin: 50px auto;
    padding-top: 30px;
}

label{
    margin-left: 12px;
}

select {
    padding: 12px 20px;
    margin: 8px 17px 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
}

.description {
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5;
    color: #F4EFEE;
}

